<button class="px-8 py-2 mb-3 border-blue-700 text-black border hover:bg-blue-900 hover:text-white"
  (click)="openModal()">
  Agregar
</button>

@if (isModalOpen) {
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
          Background backdrop, show/hide based on modal state.
      
          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center w-full justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
              Modal panel, show/hide based on modal state.
      
              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <form [formGroup]="form" (ngSubmit)="enviarDatos($event)">
          <h1 class="px-4 py-2 font-bold">Agregar Perfil</h1>
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4 flex flex-col gap-5">
            <div>
              <label for="HeadlineAct" class="block text-sm font-medium text-gray-900">
                Perfiles
              </label>

              <select name="idperfil" id="HeadlineAct"
                class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm p-3" formControlName="perfiles"
                (change)="onChangePerfil($event)">
                <option value="">Seleccione Perfil</option>
                @for (dato of perfiles; track dato.id_perfil) {
                <option value="{{ dato.id_perfil }}:{{ dato.nombre_perfil }}">
                  {{ dato.nombre_perfil }}
                </option>
                }
              </select>
              <div class="flex max-lg:grid max-lg:grid-cols-1 items-center justify-start mt-2">
                @for (modulo of modulosSeleccionados; track modulo.id_modulo) {

                <input type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600 max-lg:col-span-1" (change)="toggleCheckbox(modulo)"
                  [checked]="modulo.checked" />
                <label class="ml-2 mr-2 text-gray-700 cursor-pointer" (click)="toggleCheckbox(modulo)">{{ modulo.modulo
                  }}</label>
                }
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="submit"
              class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"
              [disabled]="loading">
              Registrar
            </button>
            <button type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
              (click)="closeModal()">
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
}