<li>
    <details class="cursor-pointer" (click)="clickFecha()">
      <summary class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-slate-100  group">
          <span class="flex flex-1 gap-3 cursor-pointer">
           <div class="bg-blue-950 p-1 rounded-lg ">
            <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
            </svg>
           </div>

            
           <span class="mt-1" >Seguridad</span>
          </span>
          <span class="transition transform mt-[0.10rem] {{flecha ? 'rotate-180' : 'rotate-0' }}">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                  <path d="M6 9l6 6 6-6"></path>
              </svg>
          </span>
      </summary>
      <ul>
        <li><a href="/dashboard/usuarios" class="flex items-center px-12 py-2 text-black  hover:bg-slate-100 ">Usuarios</a></li>
        <li><a href="/dashboard/perfiles" class="flex items-center px-12 py-2 text-black hover:bg-slate-100">Perfiles</a></li>
      </ul>
      
  </details>
  
    </li>