<!-- This is an example component -->
<div>
  <app-navbar (addshowSidebarEvent)="getshow($event)"></app-navbar>
  <div class="flex overflow-hidden bg-white pt-16">
    <app-sidebar [showSidebar]="showSidebar"></app-sidebar>
    <div
      class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
      id="sidebarBackdrop"
    ></div>
    <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto {{!showSidebar ? 'transition-all duration-500 lg:ml-0' : 'transition-all duration-500 lg:ml-64' }}">
      <main>
        <div class="pt-6 px-4 bg-gray-50 h-screen">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
    
  </div>
</div>
