/* Estilo personalizado para el scroll */
::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del scrollbar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambia el color del scrollbar al pasar el ratón sobre él */
  }
  